.quoteBody {
  font-size: 33px im !important;
  color: #ff3333 im !important;
  font-family: "Permanent Marker", recursive;
}

.quoteAuthor {
  font-size: 28px !important;
}

.btn {
  border-radius: 0px;
}

.btn:focus {
  outline: none;
}

.tweetQuote {
  margin-top: 10px;
}
